# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/
*.log

# Next.js
.next/
out/
dist/
build/

# Production
.vercel

# Misc
.DS_Store
*.pem
.env
.env*.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Telemetry
.next/telemetry

# TypeScript
*.tsbuildinfo
next-env.d.ts

# K6 Results
scripts/results/*.json
scripts/results/*.html

# Prisma
prisma/migrations/
